body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}

.hero-section {
    background: linear-gradient(to right, #007bff, #6610f2);
    color: white;
    text-align: center;
    padding: 50px 20px;
}

.hero-section h1 {
    font-size: 3.5rem;
}

.card {
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.card-header {
    background-color: #6610f2;
    color: white;
}

.card-footer {
    background-color: #f1f1f1;
}

.button {
    background-color: #6610f2;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover {
        background-color: #5a0fb7;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px;
}
