html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.footer-trust {
    background-color: #ffffff;
    padding: 40px 0;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.05);
    border-top: 1px solid #eaeaea;
}


.footer-title {
    font-weight: 600;
    margin-bottom: 10px;
    color: #2c3e50;
}


.footer-text {
    color: #7f8c8d;
    font-size: 14px;
}


.footer-links {
    list-style: none;
    padding: 0;
}


    .footer-links li {
        margin-bottom: 8px;
    }


    .footer-links a {
        text-decoration: none;
        color: #4A90E2;
        transition: 0.3s;
    }


        .footer-links a:hover {
            color: #2c3e50;
        }


.footer-bottom {
    color: #95a5a6;
    font-size: 14px;
}