@page
@model LostAndFoundRazorPages.Pages.LostItemViews.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report an Item</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/reports.css" asp-append-version="true" />
</head>
<body>

    <div class="container">
        <div class="form-container">
            <h2>Report Lost Item</h2>
            <form method="post">
                <div class="mb-3">
                    <label asp-for="LostItems.ItemName" class="control-label"></label>
                    <input asp-for="LostItems.ItemName" class="form-control" />
                    <span asp-validation-for="LostItems.ItemName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="LostItems.Description" class="control-label"></label>
                    <input asp-for="LostItems.Description" class="form-control" />
                    <span asp-validation-for="LostItems.Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="LostItems.ItemType" class="control-label"></label>
                    <input asp-for="LostItems.ItemType" class="form-control" />
                    <span asp-validation-for="LostItems.ItemType" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="LostItems.DateFound" class="control-label"></label>
                    <input asp-for="LostItems.DateFound" class="form-control" />
                    <span asp-validation-for="LostItems.DateFound" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit Report</button>
            </form>
            <div>
                <a class="mt-5 text-black link-underline-opacity-0" asp-page="Index">Back to List</a>
            </div>
        </div>

       
    </div>


    

</body>

    @section Scripts {
      @{
         await Html.RenderPartialAsync("_ValidationScriptsPartial");
      }
    }
</html>